PORT=8080
ENV=development
DATABASE_URL=postgres://postgres:postgres@localhost:5432/db?search_path=public
JWT_SECRET=very-secret-passphrase-for-jwt
ACCESS_TOKEN_TTL_MIN=60
REFRESH_TOKEN_TTL_DAY=3
MAX_CONCURRENCY=8
#very-secret-password
ADMIN_PASS='$2a$12$2n.uWmB18mLvPXajKHE6MuXMxhYzQQiQQUDDrbxEhjRCvU65Tzw3i'
